:root {
    --primary-color: #0F1111;
    --secondary-color: #232f3e;
    --background-color: #EAEDED;
}

.forget-password {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgetPassword-card {
    background-color: var(--background-color);
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    /* box-shadow: 5px 5px 40px -15px black; */
}

.forgetPassword-card .close-icon {
    position: absolute;
    right: -30px;
    top: -20px;
    color: white;
    cursor: pointer;
    display: none;
}

.forgetPassword-card h2 {
    margin-top: 20px;
}

.forgetPassword-card form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.username,
.password {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email-icon {
    position: absolute;
    left: 5px;
    height: 100%;
}

.forgetPassword-card form input {
    width: 250px;
    padding: 10px;
    padding-left: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--secondary-color);
}

.forgetPassword-card form input:focus {
    outline: 2px solid var(--secondary-color);
}

.forgetPassword-card form button {
    border: none;
    cursor: pointer;
}

.forgetPassword-card p {
    font-size: 1.4rem;
}

.forgetPassword-card p a {
    text-decoration: none;
    text-transform: capitalize;
    color: blue;
}

.forgetPassword-card p a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 400px) {
    .forgetPassword-card {
        width: 250px;
    }

    .forgetPassword-card form input {
        width: 210px;
    }
}

@media screen and (max-width: 320px) {
    .forgetPassword-card {
        width: 100vw;
    }

    .forgetPassword-card form input {
        width: 180px;
    }

    .forgetPassword-card .close-icon {
        right: 10px;
        top: 10px;
        color: black;
    }

    .forgetPassword-card .close-icon * {
        font-size: 2rem;
    }
}